
    <header class="site-header">
      <div class="wrapper site-header__wrapper">
        <div class="site-header__start">
          <a href="loginServlet" class="brand"><img alt="logo" src="img/logo.png" width="30%" height="30%"></a>
        </div>
        <div class="site-header__middle">
          <nav class="nav">
            <button class="nav__toggle" aria-expanded="false" type="button">
              menu
            </button>
            <ul class="nav__wrapper">
              <li class="nav__item"><a href="loginServlet">ログイン</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>